footer {
  background-color: #131313;
  text-align: center;
  padding: 5px;
  font-size: 8pt;
  font-weight: normal;
  background-color: transparent;
  border-top: 1px solid #55559c;
  border-image: linear-gradient(to left, #55559c, transparent) 1;
}

.column {
  display: inline;
}

.links {
    color: #66667d;
    padding: 5px;
}
