.navbar {
	background-color: #363636;
    color: #1fccef;
	padding: 5px;
    margin: 0px;
	position: sticky;
	top: 0;
}

.warning {
    color: #ffff00
}

.navbar a {
    color: #e6e6fa;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar span {
    padding: 5px;
}
