body {
	margin: 0px;
	padding: 0px;
	font-family: Monospace;
	background-color: #212121;
	color: #f0eee4;
}
pre {
	background-color: #222222;
	width: fit-content;
	padding: 5px;
	border-left: 2px solid #cccccc;
}
a {
	color: #89bfff;
    text-decoration: none;
	transition: 0.1s;
}
a:hover {
	color: #ccccff;
    text-decoration: underline;
}

.content {
    padding: 5px;
    max-width: 1000px;
    margin: auto;
}
