* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	text-align: center;
	font-family: monospace;
	font-size: 8px;
	color: #ffffff;
    background-color: #212121;
}

#wrapper {
	max-width: 600px;
	*width: 600px;
	margin: 0 auto;
	text-align: left;
}

body#left {
	text-align: left;
}

body#left #wrapper {
	margin: 0 20px;
}

h1 {
	font-size: 10px;
	padding: 0 10px;
    text-align: center;
	margin: 5px 5 5;
    background-color: #363636;
    position: sticky;
    top: 0;
	font-weight: bold;
}

h2 {
	font-size: 8px;
	padding: 0 10px;
	margin: 10px 0 0;
	color: #ccccff;
	font-weight: normal;
}

a {
	color: #89bfff;
	text-decoration: none;
}

a:hover {
	color: #89bfff;
	text-decoration: underline;
}

ul#header {
	margin-top: 20px;
}

ul li {
	display: block;
	list-style-type: none;
	overflow: hidden;
	padding: 10px;
}

ul li:hover {
	background-color: #222222;
}

ul li .date {
	text-align: center;
	width: 120px;
}

ul li .size {
	text-align: right;
	width: 90px;
}

ul li .date, ul li .size {
	float: right;
	font-size: 8px;
	display: block;
	color: #ccccff;
}

ul#header li {
	font-size: 8px;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
}

ul#header li:hover {
	background-color: transparent;
}

ul#header li * {
	color: #777777;
	font-size: 8px;
}

ul#header li a:hover {
	color: #ffffff;
}

ul#header li .asc span, ul#header li .desc span {
	padding-right: 15px;
	background-position: right center;
	background-repeat: no-repeat;
    color: #ffffff;
}

ul#header li .asc span {
	background-image: url('<?php echo $_self ?>?i=asc');
}

ul#header li .desc span {
	background-image: url('<?php echo $_self ?>?i=desc');
}

ul li.item {
	border-top: 1px solid #f3f3f3;
}

ul li.item:first-child {
	border-top: none;
}

ul li.item .name {
	font-weight: bold;
}

ul li.item .directory, ul li.item .file {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

ul li.item .directory {
	background-image: url('<?php echo $_self ?>?i=directory');
}

ul li.item .file {
	background-image: url('<?php echo $_self ?>?i=file');
}

#footer {
	color: #cccccc;
	font-size: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 0 10px;
	text-align: left;
}

#footer a {
	color: #cccccc;
	font-weight: bold;
}

#footer a:hover {
	color: #999999;
}
